/* OVERLAY */
.chat__addContact-overlay {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.492);
    animation: fadein 0.5s ease 1;
}
/* ADD CONTACT FORM */
.chat__addContact-form {
    display: flex;
    flex-direction: column;
    background-color: rgb(13, 13, 13);
    padding: 3rem 3rem;
    height: 35rem;
    max-width: 30rem;
    position: relative;
    animation: slidein 1 0.8s ease;
    border-radius: 5px;
    width: 100%;
}
/* CLOSE BUTTON */
.chat__addContact-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chat__addContact-close-bnt {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat__addContact-form label {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
}
.chat__addContact-form input {
    padding: 0.5rem;
    font-size: 1.3rem;
    outline: none;
    border: none;
}
.chat__addContact-submit {
    margin: 0rem;
    padding: 1rem;
    border-radius: 0;
    cursor: pointer;
    background: var(--highlight-blue);
    border: none;
    font-size: 1.2rem;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slidein {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0px);
    }
}
@media screen and (max-width: 400px) {
    .chat__addContact-form {
        padding: 2rem;
    }
    .chat__addContact-form h2 {
        margin-top: 1rem;
    }
}