/* OVERLAY */
.chat__addContact-overlay {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.176);
    animation: fadein 0.5s ease 1;
}
/* ADD CONTACT FORM */
.chat__addContact-form {
    display: flex;
    flex-direction: column;
    background-color: rgb(13, 13, 13);
    padding: 3rem;
    height: auto;
    max-width: 25rem;
    position: relative;
    animation: slidein 1 0.8s ease;
    border-radius: 5px;
    width: 100%;
    min-height: 30rem;
}
.chat__addContact-form h2 {
    font-size: 2rem;
}
/* CLOSE BUTTON */
.chat__addContact-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chat__addContact-close-bnt {
    position: absolute;
    width: 2rem;
    height: 2rem;
    scale: 1.5;
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    transition: 0.3s ease;
}
.chat__addContact-close-bnt img {
    width: 1.5rem;
    height: 1.5rem;
}
.chat__addContact-close-bnt:hover {
    background: rgba(70, 70, 70, 0.312);
}
.chat__addContact-close-bnt:active {
    scale: 0.9;
}
.addContact__input-container {
    position: relative;
    margin-top: 1rem;
}
.chat__addContact-form label {
    font-size: 1rem;
    font-weight: 500;
    display: block;
    text-align: center;
    border-radius: 0;
    position: absolute;
    bottom: 55%;
    left: 1rem;
    color: rgba(67, 67, 67, 0.768);
}
.chat__addContact-form input {
    padding: 1.5rem 0.5rem 0.5rem 1rem;
    font-size: 1.3rem;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 100%;
    background: white;
    box-shadow: inset 0px 0px 3px black;
    color: black;
}
.chat__addContact-submit {
    margin-top: 50%;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    background: var(--highlight-blue);
    border: none;
    font-size: 1.2rem;
}

.fade-out {
    animation: fadeout 0.3s;
}
.slide-out {
    animation: slideout 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes slidein {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0px);
    }
}
@keyframes slideout {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100px);
    }
}
@media screen and (max-width: 400px) {
    .chat__addContact-form {
        padding: 2rem;
    }
    .chat__addContact-form h2 {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}