.chat__messages-container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    /* max-width: 50rem; */
    
}
.chat__messages-container::-webkit-scrollbar{
    width: 0px;
}
.chat__messages-container::-webkit-scrollbar-track {
    background: var(--secondary-blue);
    transition: 0.3s ease;
}
.chat__messages-container::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
}
.chat__messages-container::-webkit-scrollbar-thumb:hover {
    background: rgb(90, 90, 90);
    transition: 0.3s ease;
    cursor: pointer;
}

.chat__messages-container:hover::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
    transition: 0.3s ease;
}
.chat__messages-container:hover::-webkit-scrollbar-track {
    background: rgba(16, 16, 16, 0.46);
}