.message__container {
    width: 100%;
}
.chat__message {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    /* min-width: 15rem; */
}
.message__profile-container {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
}
.message__profile-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.chat__message-name {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    background: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(128, 128, 128);
}
.chat__message-content {
    padding: 1rem;
    border-radius: 5px;
    border-radius: 0px 0px 5px 5px;
}
.chat__message-content {
    width: 100%;
}
.is-you-true {
    float: right;
    position: relative;
    color: white;
    background: rgba(31, 96, 202, 0.882);

}
.is-you-true .chat__message-content {
    background: rgba(31, 96, 202, 0.882);
}
.is-you-false .chat__message-content {
    background: rgba(0, 0, 0, 0.427);
}
.is-you-false {
    float: left;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.427);
}
.is-you-false,
.is-you-true {
    background: transparent;
}