.app__password-wrapper,
.app__email-wrapper,
.app__password-wrapper input,
.app__email-wrapper input{
    width: 100%;
    position: relative;
    margin: 0;
}
.app__password-wrapper,
.app__email-wrapper {
    margin: 1rem 0;
}

.app__password-wrapper p,
.app__email-wrapper p {
    position: absolute;
    top: 100%;
    color: rgb(200, 0, 0);
}

.app__login-register {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
}
.app__login-register > * {
    display: inline-block;
}
.app__login-register .link__to-register {
    color: var(--highlight-blue);
    text-decoration: underline;
}
.app__login-register p,
.app__login-register a {
    text-align: center;
}