.app__input-wrapper,
.app__input-wrapper input{
    width: 100%;
    position: relative;
    margin: 0;
}
.app__input-wrapper {
    margin: 1rem 0;
}
.app__input-wrapper p {
    position: absolute;
    top: 100%;
    color: rgb(200, 0, 0);
}
.app__login-register {
    display: flex;
    flex-direction: row;
    margin: 0rem 0rem;
}
.app__login-register .link__to-register {
    margin-left: 0.5rem;
    color: var(--highlight-blue);
    text-decoration: underline;
}