.app__password-wrapper,
.app__email-wrapper,
.app__password-wrapper input,
.app__email-wrapper input{
    width: 100%;
    position: relative;
    margin: 0;
}
.app__password-wrapper,
.app__email-wrapper {
    margin: 1rem 0;
}

.app__password-wrapper p,
.app__email-wrapper p {
    position: absolute;
    top: 100%;
    color: rgb(200, 0, 0);
}

.app__login-register {
    margin: 1rem 0;
    display: flex;
}
.app__login-register :nth-child(1) {
    margin-right: 0.5rem;
}
@media screen and (max-width: 500px) {
    .app__login-register {
        flex-direction: column;
    }
    .app__login-register a {
        text-align: center;
    }
}