[Unit]
Description=EasyChat Backend
Requires=easychat-backend.socket easychat-frontend.socket
After=network.target
Before=easychat-frontend.service

[Service]
ExecStart=/usr/bin/podman run --rm \
    -v /tmp/easychat-backend.sock:/tmp/easychat.sock \
    -e NODE_ENV=production \
    -e DATA_DIR=/var/lib/easychat/data \
    -e DATABASE_NAME=chat.sqlite3
    -e LOGGING_LEVEL=error
    -e LOGGING_FILES_PATH=/var/lib/easychat/logs
    -e SOCKET_PATH=/tmp/easychat.sock \
    easychat-backend
Restart=on-failure
KillMode=process
TimeoutStopSec=300
RestartSec=3
StartLimitBurst=3
StartLimitIntervalSec=60

[Install]
WantedBy=multi-user.target