[Unit]
Description=EasyChat Backend Socket

[Socket]
Accept=no
RemoveOnStop=yes
Service=easychat-backend.service
ListenStream=/tmp/easychat-backend.sock

[Install]
WantedBy=sockets.target