[Unit]
Description=EasyChat Frontend
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
ExecStart=/usr/bin/podman run --rm --name easychat-frontend_service \
    -e NODE_ENV=production \
    easychat-frontend
ExecStop=/usr/bin/podman stop easychat-frontend_service
ExecRestart=/usr/bin/podman restart easychat-frontend_service
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target