[Unit]
Description=EasyChat Backend
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=60
#Requires=easychat-backend.socket
#After=easychat-backend.socket
StopWhenUnneeded=true

[Service]
ExecStart=/usr/bin/podman run --rm --name easychat-backend_service \
    -v easychat_logs:/var/lib/easychat/logs \
    -e NODE_ENV=production \
    -e DATABASE_NAME=chat.sqlite3 \
    -e LOGGING_LEVEL=error \
    -e LOGGING_FILES_PATH=/var/lib/easychat/logs \
    easychat-backend
ExecStop=/usr/bin/podman stop easychat-backend_service
Restart=on-failure
RestartSec=3

# [Install]
# WantedBy=multi-user.target