[Unit]
Description=EasyChat Backend Socket

[Socket]
Listen=/tmp/easychat-backend.sock
Service=easychat-backend.service
Accept=no

[Install]
WantedBy=sockets.target