[Unit]
Description=Proxy Socket for Easychat Backend

[Socket]
Accept=no
RemoveOnStop=yes
ListenStream=/tmp/easychat-backend-proxy.sock

[Install]
WantedBy=sockets.target