[Unit]
Description=EasyChat Frontend Socket

[Socket]
Accept=no
RemoveOnStop=yes
Service=easychat-frontend.service
ListenStream=/tmp/easychat-frontend.sock

[Install]
WantedBy=sockets.target