.app__chat-panel {
    --online-status-border-clr: var(--secondary-blue);
    
    height: 5rem;
    cursor: pointer;
    transition: 0.5s ease;
    display: grid;
    grid-template-columns: auto 3fr;
    border-left: 1px solid transparent;
    position: relative;
    isolation: isolate;
}
.panel__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}
.panel__text-wrapper h1 {
    color: white;
}
.panel__profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70px;
}
.panel__profile-container {
    width: var(--profile-img-width);
    position: relative;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel__profile-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.panel__profile-new-messages {
    position: absolute;
    background-color: rgb(0, 128, 255);
    border: 3px solid var(--secondary-blue);
    z-index: 2;
    border-radius: 10px;
    width: 1.5rem;
    height: 1.4rem;
    font-size: 0.9rem;
    bottom: -5px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel__status {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: -2px;
    right: -2px;
}
.panel__status::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: none;
    background-color: var(--secondary-blue);
}
.true, .false {
    border: 
        3px solid var(--online-status-border-clr);
}
.true {
    box-shadow: inset 0px 0px 50px rgb(0, 171, 0);
}
.false {
    box-shadow: inset 0px 0px 50px rgb(255, 51, 51);
}
/*  */
.app__panel-username {
    height: 30px;
}
.app__panel-lastmessage-container {
    display: flex;
    align-items: center;
    /* max-width: 50%; */
    overflow-x: hidden;
}
.app__panel-lastmessage-container h2,
.app__panel-lastmessage-container p {
    font-size: 1rem;
    color: grey;
}
.app__panel-lastmessage-container h2 {
    margin: 0rem 0.5rem 0 0;
}
.app__panel-lastmessage-container p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 60%;
}

/* HOVER */
.app__chat-panel:hover {
    border-left: 1px solid var(--highlight-blue);
    background: #0F0E16;
}
.app__chat-panel:hover .app__panel-lastmessage-container h2 {
    color: var(--highlight-blue);
}
.app__chat-panel:hover .true,
.app__chat-panel:hover .false {
    border: 3px solid #0f0e16;
}
@media screen and (max-width: 800px) {
    .panel__profile-container img {
        padding: 0rem;
    }
    .panel__profile-wrapper {
        width: 100%;
    }
    .app__chat-panel {
        grid-template-columns: 1fr;
        height: 4.5rem;
    }
}