.chat__panel-conatainer {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto;
    height: calc(100vh - var(--navbar-height));
}
.chat__panel-conatainer::-webkit-scrollbar{
    width: 0px;
}
.chat__panel-conatainer::-webkit-scrollbar-track {
    background: var(--secondary-blue);
    transition: 0.3s ease;
}
.chat__panel-conatainer::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
}
.chat__panel-conatainer::-webkit-scrollbar-thumb:hover {
    background: rgb(90, 90, 90);
    transition: 0.3s ease;
    cursor: pointer;
}

.chat__panel-conatainer:hover::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
    transition: 0.3s ease;
}
.chat__panel-conatainer:hover::-webkit-scrollbar-track {
    background: rgba(16, 16, 16, 0.46);
}
