@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.app__homepage-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background:
        radial-gradient(circle at 0 0, rgb(0, 98, 255) 5%, transparent 40%),
        radial-gradient(circle at 100% 100%, rgba(0, 0, 0, 0.222) 200px, rgba(0, 17, 255, 0.205) 500px),
        radial-gradient(circle at 100% 0, rgba(33, 33, 33, 0.353) 60%, transparent),
        linear-gradient(rgb(32, 32, 32), rgba(0, 0, 0, 0.3)),
        rgb(20, 20, 20); */
    background-size: 100% 100%;
    background-attachment: fixed;
    /* linear-gradient(rgb(32, 32, 32), rgb(42, 42, 42)); */
}
.app__landing-section {
    max-width: 50rem;
    height: auto;
    width: 90%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    position: relative;
    z-index: 1;
    /* background:
        radial-gradient(circle at 100% 100%, rgba(0, 0, 0, 0.405), rgba(0, 8, 255, 0.579)),
        radial-gradient(circle at 0 0, rgb(58, 58, 255) 60%, rgba(43, 43, 255, 0.792) 80%) */
        /* radial-gradient(circle at 0, 0, ) */;
    background-size: 100% 100%;
    box-shadow:
        inset 0px 0px 5px white,
        inset 0px 0px 10px rgba(255, 255, 255, 0.781),
        inset 0px 0px 15px rgba(255, 255, 255, 0.534),
        inset 0px 0px 20px rgba(255, 255, 255, 0.202);
    border-bottom-right-radius: 1rem;
}
.app__landing-section::before {
    content: "";
    position: absolute;
    bottom: -1.7rem;
    right: -1.5rem;
    display: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50% 50% 0rem;
    background-color: rgb(8, 8, 8);
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.507);
}
.app__landing-headings {
    padding: 0rem 0rem 0.5rem 0rem;
    line-height: 0.9;
}
.app__landing-headings h2 {
    font-size: 4rem;
    color: white;
    /* transform: translateY(30px); */
}
.app__landing-headings h1 {
    /* transform: translateY(-20px); */
    font-size: 5rem;
    color: var(--highlight-blue);
    /* filter: drop-shadow(0px 0px 3px rgba(0, 140, 255, 0.527)); */
}
.app__landing-section p {
    font-size: 1.5rem;
    /* text-align: justify; */
    transform: translateY(-20px);
    width: 90%;
    font-family: Verdana;
    padding: 1rem 0rem;
    margin-top: 1rem;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    text-align: start;
    /* box-shadow:
        inset 0px 0px 3px rgba(156, 156, 156, 0.458),
        inset 2px 2px 5px rgba(255, 255, 255, 0.273); */
}
.app__cta-container {
    display: flex;
    justify-content: space-between;
    max-width: 22rem;
    margin-bottom: 2rem;
}
.app__landing-button img {
    width: 2.5rem;
    position: absolute;
    padding: 0.5rem;
    rotate: 320deg;
    right: 1rem;
    transform: translateY(-3px);
    transition: var(--normal-transition);
}
.app__landing-button:hover img {
    transform: translateY(-4px) translateX(5px);
}

@media screen and (max-width: 750px) {
    
    .app__landing-section {
        width: 90%;
    }
    .app__cta-container {
        flex-direction: column;
    }
    .app__cta-container a {
        width: 100%;
        margin: 0 0 1rem 0;
    }
    
}