@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.app__homepage-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app__landing-section {
    max-width: 50rem;
    height: auto;
    width: 90%;
    aspect-ratio: 1 / 1;
   /*  background-color: rgba(0, 0, 0, 0.144); */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    /* backdrop-filter: blur(20px); */
    /* box-shadow: 
        inset 3px 3px 5px rgba(255, 255, 255, 0.331),
        inset 0px 0px 3px rgba(255, 255, 255, 0.266); */
    position: relative;
    z-index: 1;
    border-bottom-right-radius: 0;
    /* filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.367)) */
}
.app__landing-section::before {
    content: "";
    position: absolute;
    bottom: -1.7rem;
    right: -1.5rem;
    display: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50% 50% 0rem;
    background-color: rgb(8, 8, 8);
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.507);
}
.app__landing-headings {
    padding: 0rem 0rem 0.5rem 0rem;
}
.app__landing-headings h2 {
    font-size: 4rem;
    color: white;
    transform: translateY(15px);
}
.app__landing-headings h1 {
    transform: translateY(-20px);
    font-size: 5rem;
    color: var(--highlight-blue);
    filter: drop-shadow(0px 0px 3px rgba(0, 140, 255, 0.527));
}
.app__landing-section p {
    font-size: 1.5rem;
    /* text-align: justify; */
    transform: translateY(-20px);
    width: 90%;
    font-family: Verdana;
    padding: 1rem 0rem;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    text-align: start;
    /* box-shadow:
        inset 0px 0px 3px rgba(156, 156, 156, 0.458),
        inset 2px 2px 5px rgba(255, 255, 255, 0.273); */
}
.app__landing-button {
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    background: linear-gradient(45deg, purple, violet);
    border: none;
    width: 50%;
    position: relative;
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.app__cta-container {
    display: flex;
    justify-content: space-between;
    max-width: 22rem;
}
.app__landing-button img {
    width: 2.5rem;
    position: absolute;
    padding: 0.5rem;
    rotate: 320deg;
    right: 1rem;
    transform: translateY(-3px);
    transition: var(--normal-transition);
}
.app__landing-button:hover img {
    transform: translateY(-4px) translateX(5px);
}

@media screen and (max-width: 750px) {
    
    .app__landing-section {
        width: 90%;
    }
    .app__landing-button {
        width: 100%;
    }
    
}