.app__menu {
    display: flex;
    align-items: center;
    z-index: 1;
    gap: 0.5rem;
}
.app__menu-link {
    margin: 0 1rem 0 1rem;
    font-size: 1.2rem;
    font-weight: normal;
    transition: var(--normal-transition);
}
.app__menu-link:hover {
    color: rgb(144, 144, 144);
    cursor: pointer;
}
.app__menu-wrapper {
    height: var(--navbar-height);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* MENU RIGHT SIDE BAR */
.app__menu-container {
    position: absolute;
    top: calc(100% + 0rem);
    right: 0;
    background-color: red;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: calc(100vh - var(--navbar-height));
    background: var(--secondary-blue);
    box-shadow: -2px 0px 0px var(--highlight-blue);
    --border-size: 15px;
    opacity: 0;
    pointer-events: none;
    width: 0;
    transition:
        0.5s ease-in-out;
    border-top: 2px solid rgba(0, 0, 0, 0.225);
}
.app__menu-container .link {
    position: relative;
    padding: 1.5rem 0rem 1.5rem 3rem;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    width: 100%;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
}
.app__menu-container .link:hover {
    background-color: rgba(0, 0, 0, 0.468);
}
.app__menu-container .link img {
    width: 2rem;
    height: 2rem;
    margin: 0 0 0 0.5rem;
}

.current-page::before {
    content: "";
    position: absolute;
    background-color: var(--highlight-blue);
    width: 0.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    top: 50%;
    left: 1.8rem;
    transform: translateY(-50%);
}
.active-app-menu {
    transition:
        width 0.5s ease-in-out;
    opacity: 1;
    pointer-events: all;
    width: 15rem;
}
@media screen and (max-width: 800px) {
    .active-app-menu {
        width: 100vw;
    }
}