.app__chat-sidepanel {
    --profile-img-width: 50px;
    --breakpoint-800: 800px;
    --side-panel-width: 20rem;

    width: var(--side-panel-width);
    max-width: 500px;
    height: calc(100vh - var(--navbar-height));
    background: var(--secondary-blue);
    background: linear-gradient(45deg, var(--secondary-blue), rgb(16, 16, 16));
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;

}

.app__chat-sidepanel::-webkit-scrollbar{
    width: 0px;
}
.app__chat-sidepanel::-webkit-scrollbar-track {
    background: var(--secondary-blue);
    transition: 0.3s ease;
}
.app__chat-sidepanel::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
}
.app__chat-sidepanel::-webkit-scrollbar-thumb:hover {
    background: rgb(90, 90, 90);
    transition: 0.3s ease;
    cursor: pointer;
}

.app__chat-sidepanel:hover::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
    transition: 0.3s ease;
}
.app__chat-sidepanel:hover::-webkit-scrollbar-track {
    background: rgba(16, 16, 16, 0.46);
}

/* LODING */
.loading-spinner {
    --border: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border-radius: 50%;
    border: var(--border) solid transparent;
    border-bottom: var(--highlight-blue) var(--border) solid;
    border-left: var(--highlight-blue) var(--border) solid;
    animation: chatLoadingSpin 1s ease-in-out infinite;
    transform-origin: 50% 50%;
    display: flex;
    translate: -50% -50%;
}
.app__chat-refresh-btn {
    position: absolute;
    border: none;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: transparent;
    cursor: pointer;
}
.app__chat-refresh-btn img {
    width: 2.5rem;
    transition: 0.3s ease-in-out;
}
@keyframes chatLoadingSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* SIDEPANEL MEDIA */
@media screen and (max-width: 800px) {
    .app__chat-sidepanel::-webkit-scrollbar {
        width: 0px;
    }
    .app__chat-sidepanel {
        width: calc(var(--profile-img-width) + 1rem);
    }
    .app__chat-sidepanel .panel__text-wrapper {
        display: none;
    }
}